<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heladeria - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">🍦 Heladeria </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index.menu') }}">Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('ventas.ventas') }}">Ventas</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.administracion') }}">Administracion</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="text-center py-5 bg-light">
        <div class="container">
            <h1 class="display-4">Bienvenido a la heladeria Alce! &#129742</h1>
            <a class="btn btn-primary btn-lg"href="{{ url_for('index.menu') }}">Revista nuestros productos</a>
        </div>
    </header>